body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ba8d64;
}
header, footer {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/*footer {*/
/*    padding: 10px 0;*/
/*    margin-top: auto;*/
/*    background: #333;*/
/*    color: white;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    position: relative;*/
/*}*/

.container-fluid {
    display: flex;
    width: 90%;
    margin: 20px 0;
}
.tasks, .events {
    background: #ffffffb3;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sidebar{
    margin: 10px;
    padding: 20px;
}

.tasks {
    flex: 2;
     padding: 0 0 10px 0;
}
.events {
    max-width: 320px;
}
.description {
    background: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.task-item, .event-item {
    border: 1px solid #000000;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
}
/*.task-item:hover, .event-item:hover {*/
/*    background: #f9f9f9;*/
/*}*/
/*.sidebar {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/
/*.buttons {*/
/*    margin: 20px 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-end;*/
/*    width: 100%;*/
/*    padding-right: 20px;*/
/*}*/
/*.buttons button {*/
/*    display: block;*/
/*    width: 100px;*/
/*    margin: 5px 0;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    background: #007BFF;*/
/*    color: white;*/
/*    border-radius: 20px;*/
/*    cursor: pointer;*/
/*    text-align: center;*/
/*}*/

/*.buttons button:hover {*/
/*    background: #0056b3;*/
/*}*/
nav {
    margin: 10px;
    text-align: center;
}
nav a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

.nav-search{
    width: 80%;
}

.search-input{
    padding: 0 10px;
    width: 90%;
    height: 60px;
}

.sidebar-left{
    text-align-last: left;
}

.cal-title{
    padding: 10px 0 0 15px;
}
